section#about.section
  h2.section__heading About me
  p.paragraph__intro I am a developer who enjoys working in front-end development but also gets a kick out of back-end development.
  p.paragraph I’m naturally inquisitive and enjoy figuring out how things work. I have a defined sense of aesthetic and enjoy making thoughtful, engaging, and functional web applications that have a simple, clean and distinct design.
  p.paragraph I’ve built web applications using Ruby on Rails, Node.js and React and have a strong foundation in web design and development. I've recently completed Coder Academy’s 6 month web development bootcamp.
  p.paragraph Before moving into development, I worked in the Library and Information Management sector, where I produced and managed content.
  p.paragraph When I'm not coding, I enjoy spending time with friends, family and my two cats, Willow and Orlando.
  h3.section__heading.section__heading--sub Interests and likes
  ul.list
    li.list__item Strummer
    li.list__item Caravaggio
    li.list__item Dostoyevsky
    li.list__item Punk
    li.list__item Marc Maron
    li.list__item Roxane Gay
    li.list__item Cats
    li.list__item Gilmore Girls
    li.list__item Jason Mantzoukas