section#contact.section
  h2.section__heading Contact
  form(name="contact" netlify-honeypot="bot-field" action="thank-you" netlify id="contact-form" class="form")
    .hidden
      label(for="bot-field" class="form__label") Don’t fill out
      input(name="bot-field")
    label(for="name" class="form__label") Name
    input(type="text" id="name" name="name" required)
    label(for="email" class="form__label") Email
    input(type="email" id="email" name="email" required)
    label(for="message" class="form__label") Message
    textarea(name="message" id="message" class="form__textarea" required)
    button(type="submit" class="form__button") Send
    //- div.success-notification Thank you! I'll be in touch shortly!
  .footer__menu
    h2.section__heading Connect
    ul.list--style-none
      li.list__item.list__item--large
        a(href="https://github.com/julia-") GitHub
      li.list__item.list__item--large
        a(href="https://www.linkedin.com/in/juliaryan/") LinkedIn
      li.list__item.list__item--large
        a(href="https://twitter.com/juliax___") Twitter
  .footer__author
    p Made with <span class="heart"></span> by Julia Ryan