section#education.section
  h2.section__heading Education
  dl.data-list
    dt.data-list__term Diploma of Information Technology
    dd.data-list__description Coder Academy
    dd.data-list__description July 2017 – March 2018
    dt.data-list__term Web Development Immersive
    dd.data-list__description General Assembly
    dd.data-list__description January 2015 – April 2015
    dt.data-list__term Front-End Web Development
    dd.data-list__description General Assembly
    dd.data-list__description January 2014 – March 2014
    dt.data-list__term Usability in Practice 3 Day Camp
    dd.data-list__description Nielsen Norman Group
    dd.data-list__description July 2012
  a.button(href="/assets/doc/cv-juliaryan-2018-04.pdf") Download CV