section#experience.section
  h2.section__heading Experience
  dl.data-list
    dt.data-list__term Junior Software Developer
    dd.data-list__description Serraview
    dd.data-list__description May 2018 - present
    dt.data-list__term Front-End Developer (Intern)
    dd.data-list__description Serraview
    dd.data-list__description February 2018 – March 2018
    dt.data-list__term Project officer, Online Services
    dd.data-list__description State Library of NSW
    dd.data-list__description August 2011 – March 2017
    dt.data-list__term Electronic Resources Manager
    dd.data-list__description EBSCO Information Services
    dd.data-list__description August 2008 – August 2011
  a.button(href="/assets/doc/cv-juliaryan-2018-09.pdf") Download CV
