footer
  section.footer-menu-container
    h2 Menu
    ul.menu-list
      li 
        a(href="#about") About
      li
        a(href="#work") Work
      li 
        a(href="#skills") Experience and skills
      li
        a(href="#contact") Contact
  section.connect-container
    h2 Connect
    ul.connect-list
      li
        a(href="https://github.com/julia-") GitHub
      li
        a(href="https://www.linkedin.com/in/juliaryan/") LinkedIn
      li
        a(href="https://twitter.com/juliax___") Twitter
  .author-container
    p Made with <span class="heart"></span> by Julia Ryan
