footer
  section.footer-menu-container
    h2 Menu
    ul
      li About
      li Work
      li Experiences and skills
      li Contact
  section.connect-container
    h2 Connect
    ul
      li Github
      li LinkedIn
      li Twitter
  section
    p Made with <span class="heart"></span> by Julia Ryan
