//- div.nav-over
//-   div.overlay-container
.menu
  span.menu--open Menu
  span.menu--close Close
nav.nav
  h2.nav__heading Menu
  .nav__items
    a(href="#about") About me
    a(href="#work") Work
    a(href="#experience") Experience
    a(href="#education") Education
    a(href="#skills") Skills
    a(href="#contact") Contact
header.header
  h1.header__heading.header__heading--main Hi, my name is <br>Julia Ryan.
  h2.header__heading.header__heading--secondary I’m a developer <br>based in Melbourne.
  p.header__tagline Want to know more?
  span.header__text--vertical Start scrolling
  //- p 1
  //- p 2
  //- p 3
  //- p 4
  //- p 5
  //- p 6
  //- p 7
  //- p 8

    //- i.fa.fa-long-arrow-down.fa-3x(aria-hidden="true")
