//- div.nav-over
//-   div.overlay-container
.menu-toggle
  span.open Menu
  span.close Close
nav.nav-menu
  h2 Menu
  .nav-links
    a(href="#about") About
    a(href="#work") Work
    a(href="#skills") Experience and skills
    a(href="#contact") Contact
header
  section.heading-container
    h1 Hi, my name is Julia Ryan.
    p I’m a developer based in Melbourne.
    p Want to know more?
    .scroll-indicator
      span.vertical-text Start scrolling
      //- i.fa.fa-long-arrow-down.fa-3x(aria-hidden="true")