header.header
  h1.header__heading.header__heading--main Hi, my name is <br>Julia Ryan.
  h2.header__heading.header__heading--secondary I’m a developer <br>based in Melbourne.
  p.header__tagline Want to know more?
  span.header__text--vertical Start scrolling
