header
  div.burger-container
    span.menu-text Menu
    span.burger 
  nav.nav-menu.hidden
    a(href="#") About
    a(href="#") Work
    a(href="#") Experience and skills
    a(href="#") Contact
  h1 Hi, my name is Julia Ryan.
  p I’m a developer based in Melbourne.
  p Want to know more? <span class="arrow-down"></span>