section#skills.section
  h2.section__heading Skills
  ul.list
    li.list__item HTML
    li.list__item CSS
    li.list__item Ruby
    li.list__item Ruby on Rails
    li.list__item JavaScript
    li.list__item Express.js
    li.list__item Node.js
    li.list__item ReactJS
    li.list__item Pug
    li.list__item Stylus
    li.list__item Grunt
    li.list__item PostgreSQL
    li.list__item MongoDB
    li.list__item Git