a(id="work")
h2 Work
section.work-one
  h3 Historia
  a(href="https://historia-app.herokuapp.com/")
    picture
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      source(srcset="/assets/img/historia-1920.jpg 1920w, /assets/img/historia-1600.jpg 1600w /assets/img/historia-1280.jpg 1280w, /assets/img/historia-960.jpg 960w, /assets/img/historia-640.jpg 640w, /assets/img/historia-320.jpg 320w" sizes="(min-width: 37.5em) 80vw, (min-width: 64em) 33.3vw, 100vw")
      <!--[if IE 9]></video><![endif]-->
      img(src="/assets/img/historia-1920.jpg" alt="Historia homepage")
  p <span class="">Historia</span> is a Ruby on Rails web application that allows people to discover, learn about and save places around the world. Using Wikipedia's API, information is pulled from Wikipedia and see where the place is located using the Google Maps API.
section.work-overlay-two
  h3 Sparkr
  a(href="https://make-sparks-fly.herokuapp.com/")
    picture
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      source(srcset="/assets/img/sparkr-1920.jpg 1920w, /assets/img/sparkr-1600.jpg 1600w /assets/img/sparkr-1280.jpg 1280w, /assets/img/sparkr-960.jpg 960w, /assets/img/sparkr-640.jpg 640w, /assets/img/sparkr-320.jpg 320w" sizes="(min-width: 37.5em) 80vw, (min-width: 64em) 33.3vw, 100vw")
      <!--[if IE 9]></video><![endif]-->
      img(src="/assets/img/sparkr-1920.jpg" alt="Sparkr homepage")
  p I worked with three classmates to design and develop Sparkr. Sparkr is a dating service for people over the age of 50 but open to anyone over 18. A user needs to like another user's three moments and vice versa for a match to occur. A users's three moments show aspects of their life. People can start chatting once a match has occurred.
section.work-three
  h3 I was there
  a(href="https://i-was-there-app.herokuapp.com/")
    picture
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      source(srcset="/assets/img/i-was-there-1920.jpg 1920w, /assets/img/i-was-there-1600.jpg 1600w /assets/img/i-was-there-1280.jpg 1280w, /assets/img/i-was-there-960.jpg 960w, /assets/img/i-was-there-640.jpg 640w, /assets/img/i-was-there-320.jpg 320w" sizes="(min-width: 37.5em) 80vw, (min-width: 64em) 33.3vw, 100vw")
      <!--[if IE 9]></video><![endif]-->
      img(src="/assets/img/i-was-there-1920.jpg" alt="I was there homepage")
  p My first project that I built for the Web Development Immersive course was called I was there. Using Last.FM's API, users can search for artists and events to add or read reviews of the show.
section.work-four
  h3 Ace Metalwork
  a(href="http://www.acemetalwork.com/")
    picture
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      source(srcset="/assets/img/ace-metalwork-1920.jpg 1920w, /assets/img/ace-metalwork-1600.jpg 1600w /assets/img/ace-metalwork-1280.jpg 1280w, /assets/img/ace-metalwork-960.jpg 960w, /assets/img/ace-metalwork-640.jpg 640w, /assets/img/ace-metalwork-320.jpg 320w" sizes="(min-width: 37.5em) 80vw, (min-width: 64em) 33.3vw, 100vw")
      <!--[if IE 9]></video><![endif]-->
      img(src="/assets/img/ace-metalwork-1920.jpg" alt="Ace Metalwork homepage")
  p After the Front End Web Development course, I gained my first client. I designed and developed a simple one page website to be used for a local Sydney business.
section.work-five
  h3 Ping Pong Tournament
  a(href="https://julia-.github.io")
    picture
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      source(srcset="/assets/img/ping-pong-1920.jpg 1920w, /assets/img/ping-pong-1600.jpg 1600w /assets/img/ping-pong-1280.jpg 1280w, /assets/img/ping-pong-960.jpg 960w, /assets/img/ping-pong-640.jpg 640w, /assets/img/ping-pong-320.jpg 320w" sizes="(min-width: 37.5em) 80vw, (min-width: 64em) 33.3vw, 100vw")
      <!--[if IE 9]></video><![endif]-->
      img(src="/assets/img/ping-pong-1920.jpg" alt="Ping Pong Tournament homepage")
  p For my major assignment in the Front End Web Development course I designed and developed a website for a Ping Pong competition. I continued to refine the website after I completed the course. It was used by a local coworking company in Sydney.
section.work-six
  h3 Band website
  picture
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    source(srcset="/assets/img/band-website-1920.jpg 1920w, /assets/img/band-website-1600.jpg 1600w /assets/img/band-website-1280.jpg 1280w, /assets/img/band-website-960.jpg 960w, /assets/img/band-website-640.jpg 640w, /assets/img/band-website-320.jpg 320w" sizes="(min-width: 37.5em) 80vw, (min-width: 64em) 33.3vw, 100vw")
    <!--[if IE 9]></video><![endif]-->
    img(src="/assets/img/band-website-1920.jpg" alt="Band website homepage")
  p I designed and developed a website for the band She &amp; Him for my first project for the Front End Web Development course at General Assembly.