section#work.section.grid--projects
  h2.section__heading.grid__heading Work
  section.project__box
    h3.project__heading Room booking system
    p.paragraph Designed and developed a room booking system using Node.js and React for a client. This was a group project that was completed for the Web Development Bootcamp.
    ul.list
      li.list__item.list__item--small
        a(href="https://room-booking-system.netlify.com" class="project__link") Visit Room Booking System
      li.list__item.list__item--small
        a(href="https://github.com/julia-/room-booking-system" class="project__link" alt="View Room Booking System GitHub Repo") View GitHub Repo
  section.project__box
    h3.project__heading Long Play Records
    p.paragraph Long Play Records is a two-sided marketplace to buy and sell secondhand vinyl records. I designed and built this app using Ruby on Rails.
    ul.list
      li.list__item.list__item--small
        a(href="https://longplayrecords.herokuapp.com" class="project__link") Visit Long Play Records
      li.list__item.list__item--small
        a(href="https://github.com/julia-/long-play-records" class="project__link" alt="Long Play Records GitHub Repo") View GitHub Repo
  section.project__box
    h3.project__heading Portfolio
    p.paragraph I designed and developed my portfolio site as part of the Web Development Bootcamp.
    ul.list
      li.list__item.list__item--small
        a(href="https://github.com/julia-/portfolio-ca" class="project__link" alt="Portfolio GitHub Repo") View GitHub Repo
  section.project__box
    h3.project__heading Historia
    a(href="https://historia-app.herokuapp.com")
      picture
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        source(srcset="/assets/img/historia-1920.jpg 1920w, /assets/img/historia-1600.jpg 1600w /assets/img/historia-1280.jpg 1280w, /assets/img/historia-960.jpg 960w, /assets/img/historia-640.jpg 640w, /assets/img/historia-320.jpg 320w" sizes="(min-width: 37.5em) 80vw, (min-width: 64em) 33.3vw, 100vw")
        <!--[if IE 9]></video><![endif]-->
        img(src="/assets/img/historia-1920.jpg" class="project__image" alt="Historia homepage")
    p.paragraph Historia is a Ruby on Rails web application that I designed and developed for people to discover and learn about places. I used Wikipedia's API to pull in information about each place and used the Google API to enable people to see where the place is located.
    ul.list
      li.list__item.list__item--small
        a(href="https://historia-app.herokuapp.com" class="project__link") Visit Historia
      li.list__item.list__item--small
        a(href="https://github.com/julia-/historia" class="project__link" alt="Historia GitHub Repo") View GitHub Repo
  section.project__box
    h3.project__heading Sparkr
    a(href="https://make-sparks-fly.herokuapp.com")
      picture
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        source(srcset="/assets/img/sparkr-1920.jpg 1920w, /assets/img/sparkr-1600.jpg 1600w /assets/img/sparkr-1280.jpg 1280w, /assets/img/sparkr-960.jpg 960w, /assets/img/sparkr-640.jpg 640w, /assets/img/sparkr-320.jpg 320w" sizes="(min-width: 37.5em) 80vw, (min-width: 64em) 33.3vw, 100vw")
        <!--[if IE 9]></video><![endif]-->
        img(src="/assets/img/sparkr-1920.jpg" class="project__image" alt="Sparkr homepage")
    p.paragraph Sparkr was a group project. Together we designed and developed Sparkr. Sparkr is a dating service primarily for people over the age of 50. A user needs to like another user's three moments and vice versa for a match to occur. A users's three moments show aspects of their life. People can start chatting once a match has occurred.
    ul.list
      li.list__item.list__item--small
        a(href="https://make-sparks-fly.herokuapp.com" class="project__link" alt="") Visit Sparkr
      li.list__item.list__item--small
        a(href="https://github.com/julia-/sparkr_app" class="project__link" alt="Sparkr GitHub Repo") View GitHub Repo
  section.project__box
    h3.project__heading I was there
    a(href="https://i-was-there-app.herokuapp.com")
      picture
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        source(srcset="/assets/img/i-was-there-1920.jpg 1920w, /assets/img/i-was-there-1600.jpg 1600w /assets/img/i-was-there-1280.jpg 1280w, /assets/img/i-was-there-960.jpg 960w, /assets/img/i-was-there-640.jpg 640w, /assets/img/i-was-there-320.jpg 320w" sizes="(min-width: 37.5em) 80vw, (min-width: 64em) 33.3vw, 100vw")
        <!--[if IE 9]></video><![endif]-->
        img(src="/assets/img/i-was-there-1920.jpg" class="project__image" alt="I was there homepage")
    p.paragraph I was there was my the first rails app that I designed and built for the Web Development Immersive. I used Last.FM's API, to allow users to search for artists and events and to add or read reviews about the show.
    ul.list
      li.list__item.list__item--small
        a(href="https://i-was-there-app.herokuapp.com" class="project__link") Visit I was there
      li.list__item.list__item--small
        a(href="https://github.com/julia-/i_was_there" class="project__link" alt="I was there GitHub Repo") View GitHub Repo
  section.project__box
    h3.project__heading Ace Metalwork
    a(href="http://www.acemetalwork.com")
      picture
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        source(srcset="/assets/img/ace-metalwork-1920.jpg 1920w, /assets/img/ace-metalwork-1600.jpg 1600w /assets/img/ace-metalwork-1280.jpg 1280w, /assets/img/ace-metalwork-960.jpg 960w, /assets/img/ace-metalwork-640.jpg 640w, /assets/img/ace-metalwork-320.jpg 320w" sizes="(min-width: 37.5em) 80vw, (min-width: 64em) 33.3vw, 100vw")
        <!--[if IE 9]></video><![endif]-->
        img(src="/assets/img/ace-metalwork-1920.jpg" class="project__image" alt="Ace Metalwork homepage")
    p.paragraph After the Front End Web Development course, I gained my first client. I designed and developed a simple one page website to be used for a local Sydney business.
    ul.list
      li.list__item.list__item--small
        a(href="http://www.acemetalwork.com" class="project__link") Visit AceMetalwork
  section.project__box
    h3.project__heading Ping Pong Tournament
    a(href="https://julia-.github.io")
      picture
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        source(srcset="/assets/img/ping-pong-1920.jpg 1920w, /assets/img/ping-pong-1600.jpg 1600w /assets/img/ping-pong-1280.jpg 1280w, /assets/img/ping-pong-960.jpg 960w, /assets/img/ping-pong-640.jpg 640w, /assets/img/ping-pong-320.jpg 320w" sizes="(min-width: 37.5em) 80vw, (min-width: 64em) 33.3vw, 100vw")
        <!--[if IE 9]></video><![endif]-->
        img(src="/assets/img/ping-pong-1920.jpg" class="project__image" alt="Ping Pong Tournament homepage")
    p.paragraph For my major assignment in the Front End Web Development course I designed and developed a website for a Ping Pong competition. I continued to refine the website after I completed the course. It was used by a local coworking company in Sydney.
    ul.list
      li.list__item.list__item--small
        a(href="https://julia-.github.io" class="project__link") Visit Ping Pong Tournament
      li.list__item.list__item--small
        a(href="https://github.com/julia-/julia-.github.io" class="project__link" alt="Ping Pong Tournament GitHub Repo") View GitHub Repo
  section.project__box
    h3.project__heading Band website
    picture
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      source(srcset="/assets/img/band-website-1920.jpg 1920w, /assets/img/band-website-1600.jpg 1600w /assets/img/band-website-1280.jpg 1280w, /assets/img/band-website-960.jpg 960w, /assets/img/band-website-640.jpg 640w, /assets/img/band-website-320.jpg 320w" sizes="(min-width: 37.5em) 80vw, (min-width: 64em) 33.3vw, 100vw")
      <!--[if IE 9]></video><![endif]-->
      img(src="/assets/img/band-website-1920.jpg" class="project__image" alt="Band website homepage")
    p.paragraph I designed and developed a website for the band She &amp; Him for my first project for the Front End Web Development course at General Assembly.