doctype html
html(lang='en')
  head
    include includes/head.pug
  body
    include includes/header.pug
    main
      include includes/about.pug
      include includes/work.pug
      include includes/experience.pug
      include includes/education.pug
      include includes/skills.pug
      include includes/contact.pug
      //- include includes/footer.pug