primaryColor = #E2BBE8
secondaryColor = #222222

@font-face
  font-family 'Big John'
  src: url("/fonts/big-john-webfont.woff2") format('woff2'),
      url("/fonts/big-john-webfont.woff") format('woff');
  font-weight normal
  font-style normal

*
  margin 0
  padding 0
  box-sizing border-box
  max-width 100%

.flex-container
  display flex
  flex-direction column

body.noscroll
  overflow hidden

header
  font-family 'Big John'
  background secondaryColor
  border 0.938em solid primaryColor
  color primaryColor
  width 100vw
  min-height 100vh
  padding 1.563em 1.250em 0 1.250em

.menu-toggle
  position absolute
  top 2.25em
  right 1.25em
  text-align center
  height .95em
  cursor pointer
  padding-right 3em

.open
.close
  position absolute
  top 0
  right 2.75em
  font-family 'Big John'

.open
  color primaryColor
  cursor pointer
  user-select none
  padding-right 0.333em

.close
  display none

.close.active
  display block
  color secondaryColor
  cursor pointer
  user-select none
  padding-right 0.333em

.menu-toggle.active .open
  display none

.menu-toggle::before
.menu-toggle::after
  content ''
  position absolute
  width 1em
  height 0.2em
  right 1.25em
  background primaryColor

.menu-toggle::before
  top 0em
  transition .5s

.menu-toggle::after
  bottom 0.2em
  transition .5s

.menu-toggle.active::before
  background secondaryColor
  top 0.4em
  transform rotate(45deg)

.menu-toggle.active::after
  background secondaryColor
  bottom 0.4em
  transform rotate(-45deg)

.nav-menu
  display none

.nav-menu.active
  display block
  height 100vh
  background primaryColor
  border 0.938em solid secondaryColor
  padding 1.25em 1.25em 0 1.25em
  overflow-y auto
  h2
    margin-top 1.184em
  .nav-links
    margin-top 1.875em
  .nav-links > a
    font-family 'Big John'
    font-size 1.75em
    color secondaryColor
    padding-bottom 0.714em

.nav-links > a
li > a
  display block
  text-decoration none

li > a
  color primaryColor

.hidden
  display none

.heading-container
  margin-top 2.813em
  h1
    font-size 2.250em
    padding-bottom 0.556em
  p:nth-child(2)
    font-size 2.250em
    padding-top 0.556em
  p:nth-child(3)
    font-size 1em
    padding-top 3.750em

.scroll-indicator
  position relative
  .vertical-text
    display block
    position absolute
    right -0.25em
    bottom -3em
    font-size 0.75em
    writing-mode vertical-rl
  .fa-long-arrow-down
    position absolute
    right -0.15em
    bottom -1.85em
    color primaryColor

main
  background primaryColor
  border 0.938em solid secondaryColor
  color secondaryColor
  width 100vw
  // padding 2.188em 1.250em
  section:last-child
    border-bottom none

main > section
  min-height 100vh
  border-bottom 0.938em solid secondaryColor 
  // padding 2.188em 1.250em
  padding 4.063em 1.250em

main p
  padding-bottom 1em

main p
dd
  font-family 'Montserrat', sans-serif
  line-height 1.5em
  font-weight 300
  font-size 1em

dt
  font-family 'Big John'
  padding-top 1em

dl
  margin 2em 0
  dt:first-child
    padding-top 0

h2
h3
  position relative
  padding-bottom 0.5em
  font-family 'Big John'

h2
  font-size 2.125em
  margin-bottom 1em
  &:before
    content ''
    border-bottom 5px solid secondaryColor
    position absolute
    left 0
    bottom 0
    height 1px
    width 10%

h3
  font-size 1.5em
  margin 0.25em auto 0.5em auto
  &:before
    content ''
    border-bottom 5px solid secondaryColor
    position absolute
    left 0
    bottom 0
    height 1px
    width 10%

.intro-paragraph
  font-family 'Big John'
  font-size 1.125em
  line-height 1em
  margin 1.111em 0
  padding 0

// .image-grid
//   display flex
//   flex-direction column
//   justify-content space-between
//   margin-top 1.563em

img
  max-width 100%
  height auto
  border 0.25em solid secondaryColor
  margin 0.25em 0

ul
  list-style none
  padding 1em 0

.likes-list
.skills-list
  margin-left 1em
  list-style square inside

li
  font-family 'Montserrat', sans-serif;
  font-weight 300
  font-size 1em
  line-height 1.5em

button
  display block
  background primaryColor
  border 0.25em solid secondaryColor
  width 12em
  height 2.5em
  margin 2.5em auto 0 auto
  padding-top 1em
  padding-bottom 2em
  font-family 'Big John'
  font-size 1.15em
  &:hover
    background secondaryColor
    color primaryColor

.contact-container
  padding-bottom 0
  min-height 95vh

form
  position relative
  margin 2em auto 0 auto
  font-family 'Big John'

input[type="text"]
input[type="email"]
  background transparent
  border none
  border-bottom 0.35em solid secondaryColor
  min-width 100%
  margin-bottom 26px
  padding-bottom 4px
  outline none
  border-radius 0
  appearance none
  font-family 'Montserrat', sans-serif
  font-weight 300
  font-size 1em

input::placeholder
  font-family 'Big John'
  font-size 1em
  color secondaryColor

input:-webkit-autofill
  -webkit-box-shadow 0 0 0 30px primaryColor inset
  -webkit-text-fill-color secondaryColor !important

textarea
  background primaryColor
  border 0.25em solid secondaryColor
  min-width 100%
  font-family 'Montserrat', sans-serif
  font-weight 300
  font-size 1em
  border-radius 0
  appearance none
  &:focus
    outline none

button[type="submit"]
  position absolute
  bottom -3.25em
  right 0
  background primaryColor
  border 0.2em solid secondaryColor
  width 6em
  height 2em
  padding-top 0.75em
  padding-bottom 1.75em
  font-family 'Big John'
  font-size 1.15em
  cursor pointer
  margin 0 auto
  border-radius 0
  appearance none
  &:hover
    background secondaryColor
    color primaryColor
  &:focus
    outline none

// .success
//   display none

// .success.active
//   display block

footer
  display flex
  flex-direction column
  justify-content space-between
  background secondaryColor
  border 0.938em solid primaryColor
  color primaryColor
  min-height 50vh
  height auto
  padding 4.063em 1.250em 1.563em 1.250em
  li
    font-size 1.25em
  p
    font-family 'Big John'
    font-size 0.8em

footer h2
  margin-bottom 0
  &:before
    border-bottom 0.2em solid primaryColor

.footer-menu-container
  order 2

.connect-container
  order 1
  margin-bottom 1.875em

.author-container
  order 3
  margin 1.563em auto 0.5em auto
  text-align center

.heart
  display inline-block
  position relative
  background primaryColor
  top 0
  width 0.75em
  height 0.75em
  transform rotate(45deg)
  margin 0 0.5em
  animation heartbeat 1.2s ease infinite
  &::before
  &::after
    content ''
    background primaryColor
    width 0.75em
    height 0.75em
    position absolute
    border-radius 50%
  &::before
    top -5px
    left 0
  &::after
    top 0
    left -5px

@keyframes heartbeat
  0%
    transform rotate(45deg) scale(1)
  50%
    transform rotate(45deg) scale(1.2)
  100%
    transform rotate(45deg) scale(1)

// MEDIA QUERIES
@media (min-width: 375px)
  header
    padding-left 2.3em
    padding-right 2.3em
  .heading-container 
    h1
      font-size 2.375em 
    p:nth-child(2)
      font-size 2.375em
      padding-top 1.25em
      padding-bottom 1.75em
    p:nth-child(3)
      font-size 1.15em
  .arrow-down
    left 265px

@media (min-width: 768px)
  header
    border 1.563em solid primaryColor
    padding-top 3.75em
    padding-left 4.250em
    padding-right 4.250em
  .heading-container h1
    margin-top 1.563em
    font-size 4em
    max-width 7em
  .heading-container p:nth-child(2)
    font-size 4em
    padding-top 1em
    padding-bottom 0
  .heading-container p:nth-child(3)
    font-size 2.5em
    padding-top 0 
    margin-top 2.5em
  .menu-toggle
    top 2.75em
    right 1.25em
    height 1em
    padding-right 3.25em
    font-size 1.75em
  .menu-toggle::before
  .menu-toggle::after
    width 1.25em
    height .3em
    right 1.25em
  .menu-toggle.active::before
    top .35em
  .menu-toggle.active::after
    bottom .35em
  .open
  .close
    right 3em
  .vertical-text
    right -1.15em
    bottom -2.25em
    font-size 1.25em
  .fa-long-arrow-down
    right -0.5em
    bottom -2.15em
  main
    border 1.563em solid secondaryColor
  .main-container > section
    border-bottom 1.563em solid secondaryColor
    padding-top 3.75em
    padding-left 4.250em
    padding-right 4.250em
  h2
    font-size 4em
  .main-container p
  li
  dt
  dd
    font-size 1.5em
  .image-grid
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-between
    margin-top 1.563em
  .image-grid > img
    max-width 49%
    border 0.5em solid secondaryColor
  img:nth-child(odd)
    margin-right 0.25em

@media (min-width: 1024px)
  header
    border 2.188em solid primaryColor
    padding 7.25em 8.375em
  .heading-container
    h1
    p:nth-child(2)
      font-size 4.5em
      padding-top 1.042em
    p:nth-child(3)
      font-size 3em
      margin-top 3.25em
  .vertical-text
    right -2em
    bottom -2.25em
    font-size 1.5em
  .fa-long-arrow-down
    right -1em
    bottom -2.5em
  .menu-toggle
    top 3.125em
    right 1.5em
    height 1em
    padding-right 3em
    font-size 2.25em
  h2
    font-size 4.250em
    &::before
      border-bottom 0.2em solid secondaryColor
  h3
    font-size 3.875em
    &::before
      border-bottom 0.2em solid secondaryColor
  main
    border 2.188em solid secondaryColor
  .main-container > section
    border-bottom 2.188em solid secondaryColor
    padding 7.25em 8.375em
  .main-container p
  li
  dt
  dd
    font-size 2em
    line-height 125%
  dl dt:first-child
  dt
    padding-top 1.5em
  dl dd:last-child
    padding-bottom 1.5em
  button
    font-size 2.5em
