primaryColor = #E2BBE8
secondaryColor = #222222

@font-face
  font-family 'Big John'
  src: url("/assets/fonts/big-john-webfont.woff2") format('woff2'),
       url("/assets/fonts/big-john-webfont.woff") format('woff');
  font-weight normal
  font-style normal

*
  box-sizing border-box
  margin 0
  padding 0
  max-width 100%

html
body
  box-sizing border-box
  font-family 'Montserrat', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-size 62.5%
  height 100%
  margin 0
  overflow auto

.menu
  cursor pointer
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-size 2.4em
  height 1em
  mix-blend-mode difference
  padding-right 2.2em
  position fixed
  right 1.4em
  text-align center
  top 2.6em
  &:before
  &:after
    background primaryColor
    content ''
    height 0.2em
    position absolute
    right 1.25em
    width 1em
  &:before
    top 0em
    transition .5s
  &:after
    bottom 0.2em
    transition .5s
  &.menu--active
    z-index 1000
    mix-blend-mode unset
    &:before
      background secondaryColor
      top 0.4em
      transform rotate(45deg)
    &:after
      background secondaryColor
      bottom 0.4em
      transform rotate(-45deg)
  &.menu--active .menu--open
    display none

.menu--open
  color primaryColor
  cursor pointer
  padding-right 0.333em
  user-select none

.menu--close
  display none
  &.menu--active
    color secondaryColor
    cursor pointer
    display block
    padding-right 0.333em
    user-select none

.nav
  display none
.nav--active
  background primaryColor
  border 2.6em solid secondaryColor
  bottom 0
  display block
  height 100vh
  left 0
  padding 6em 3.8em 3em 3.8em
  position absolute
  overflow-y auto
  overflow-x auto
  right 0
  top 0
  z-index 999

.header
  background secondaryColor
  border 2.6em solid primaryColor
  color primaryColor
  display grid
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
  grid-gap 1em
  grid-template-columns auto 1fr
  grid-template-rows 2fr 2fr 1fr
  height 100vh
  min-height 0 /* new */
  min-width 0 /* new; needed for FF */
  padding 6em 3.8em 3em 3.8em
  width 100vw

.header__heading
  align-self center
  font-size 5em
  grid-column 1 / -1
  justify-self start
  margin .4em

.header__tagline
  align-self start
  font-size 2.4em
  grid-column 1 / 2
  grid-row 3 / 4
  justify-self center
  margin .9em

.header__text--vertical
  align-self start
  cursor default
  font-size 1.4em
  grid-column 2 / 3
  grid-row 3 / 4
  justify-self center
  padding 1.2em
  word-spacing 1em
  writing-mode vertical-rl

.section
  background primaryColor
  border 2.6em solid secondaryColor
  color secondaryColor
  min-height 100vh
  padding 6em 3.8em 3em 3.8em
  width 100vw

.nav__heading
    margin-top 1.8em
  .nav__items
    margin-top 1.8em
  .nav__items > a
    color secondaryColor
    font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
    font-size 1.75em
    padding-bottom 1em

.nav__items > a
  display block
  text-decoration none

li > a
  color secondaryColor
  text-decoration none

.hidden
  display none

.grid--projects
  display grid
  grid-gap 10px
  grid-template-columns repeat(auto-fit, minmax(180px, 1fr))
  padding 3em

.grid__heading
  grid-column 1 / -1

.list
  list-style square inside
  margin-left 1em
  padding 1em 0

.list--style-none
  list-style none
  margin 0
  padding 0

.data-list__description
.list__item
  font-family 'Montserrat', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-size 2em
  font-weight 300
  line-height 1.5em
  &--small
    font-size 1.6em
  &--large
    font-size 2.2em

.data-list__term
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-size 1.8em
  padding-top 1em

.data-list
  margin 2em 0
  .data-list__term:first-child
    padding-top 0.4em

.nav__heading
.section__heading
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-size 3em
  margin 0.5em 0
  padding 0.5em 0
  position relative
  &:before
    border-bottom 0.2em solid secondaryColor
    content ''
    bottom 0
    height 1px
    left 0
    position absolute
    width 10%

.section__heading--sub
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-size 2em
  margin 1em 0 0.5em 0
  padding 0.5em 0
  position relative
  &:before
    border-bottom 0.2em solid secondaryColor
    content ''
    bottom 0
    height 1px
    left 0
    position absolute
    width 10%

.project__heading
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-size 2em
  margin 0.5em 0 0.5em 0
  padding 0.5em 0
  position relative
  &:before
    border-bottom 0.2em solid secondaryColor
    bottom 0
    content ''
    height 1px
    left 0
    position absolute
    width 10%

.paragraph
  font-size 2em
  font-weight 300
  line-height 1.5em
  padding-bottom 0.4em

.paragraph__intro
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-size 1.8em
  line-height 1.5em
  margin 1em 0
  padding 0

.project__image
  border 0.6em solid secondaryColor
  height auto
  margin 0.25em 0
  max-width 100%

.footer__menu
  padding 6em 0 2em 0

.project__link
  &:hover
    background secondaryColor
    color primaryColor

// button
.button
  background primaryColor
  border 0.25em solid secondaryColor
  color secondaryColor
  display block
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-size 1.15em
  height 2.5em
  margin 2.5em auto 0 auto
  padding-top 1em
  padding-bottom 2em
  text-align center
  text-decoration none
  width 12em
  &:hover
    background secondaryColor
    color primaryColor

.form
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
  margin 2em auto 0 auto
  position relative

input[type="text"]
input[type="email"]
  appearance none
  background transparent
  border none
  border-bottom .4em solid secondaryColor
  border-radius 0
  font-family 'Montserrat', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-weight 300
  font-size 1.6em
  margin-bottom 2.4em
  min-width 100%
  padding-bottom 0.2em
  outline none
  &:active
  &:focus
    box-shadow unset

input:-webkit-autofill
  -webkit-box-shadow 0 0 0 30px primaryColor inset
  -webkit-text-fill-color secondaryColor !important

.form__label
  font-size 1.8em

.form__textarea
  appearance none
  background primaryColor
  border 0.3em solid secondaryColor
  border-radius 0
  font-family 'Montserrat', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-size 1.6em
  font-weight 300
  height 10em
  margin 0.6em 0
  min-width 100%
  &:focus
    outline none

.form__button
  appearance none
  background primaryColor
  border 0.3em solid secondaryColor
  border-radius 0
  bottom -6em
  cursor pointer
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-size 1.8em
  height 2em
  margin 2em auto
  padding 1em 0 1.8em 0
  position absolute
  right 0
  width 6em
  &:hover
    background secondaryColor
    color primaryColor
  &:focus
    outline none

.footer__author
  font-weight 300
  margin 1.563em auto 0.5em auto
  text-align center

.heart
  animation heartbeat 1.2s ease infinite
  background secondaryColor
  display inline-block
  height .8em
  margin 0 .8em
  position relative
  top 0
  transform rotate(45deg)
  width .8em
  &::before
  &::after
    background secondaryColor
    border-radius 50%
    content ''
    position absolute
    height .8em
    width .8em
  &::before
    left 0
    top -3px
  &::after
    left -3px
    top 0

@keyframes heartbeat
  0%
    transform rotate(45deg) scale(1)
  50%
    transform rotate(45deg) scale(1.2)
  100%
    transform rotate(45deg) scale(1)

// MEDIA QUERIES
// Small Devices
// @media (min-width: 375px)
//   header
//     padding-left 2.3em
//     padding-right 2.3em
//   .heading-container
//     h1
//       font-size 2.375em
//     p:nth-child(2)
//       font-size 2.375em
//       padding-top 1.25em
//       padding-bottom 1.75em
//     p:nth-child(3)
//       font-size 1.15em
//       padding-top 2.75em
//     .scroll-indicator .vertical-text
//       right -1em

// Medium Devices
@media (min-width: 768px)
  .menu
    font-size 3em
  .nav--active
    border 3.6em solid secondaryColor
    padding 6em 6.8em 3em 6.8em
  .nav__heading
  .section__heading
    font-size 6em
  .nav__items > a
    font-size 3em
  .header
    border 3.6em solid primaryColor
    padding 6em 6.8em 3em 6.8em
  .header__heading
    align-self start
    font-size 7em
    margin .8em .8em 0 .8em
  .header__tagline
    font-size 3.8em
    margin 0 1.6em
  .header__text--vertical
    font-size 1.8em
    padding 0
  .project__heading
  .section__heading--sub
    font-size 4em
  .section
    border 3.6em solid secondaryColor
    padding 6em 6.8em 3em 6.8em
  .grid--projects
    grid-gap 6em
  .paragraph
    font-size 2.6em
  .paragraph__intro
    font-size 2.4em
  .data-list__term
    font-size 2.4em
  .data-list__description
  .list__item
    font-size 2.6em
  .button
    border .3em solid secondaryColor
    font-size 2.4em
  .form
    margin 4em auto 0 auto
  .form__button
  .form__label
    font-size 2.4em
  .form__textarea
    border .5em solid secondaryColor
  input[type="text"]
  input[type="email"]
    border-bottom .5em solid secondaryColor
  .footer__author
    font-size 2.8em
    font-weight 300
  .heart
    width .6em
    height .6em
    margin 0 .6em
    &::before
    &::after
      width .6em
      height .6em
    &::before
      top -5px
      left 0
    &::after
      top 0
      left -5px

// Large Devices
@media (min-width: 1024px)
  .menu
    font-size 4em
  .nav--active
    border 5em solid secondaryColor
    padding 6em 6.8em 3em 6.8em
  .nav__heading
  .section__heading
    font-size 8em
  .nav__items > a
    font-size 4.4em
  .header
    border 4.6em solid primaryColor
    padding 6em 6.8em 3em 6.8em
  .header__heading
    align-self start
    font-size 10em
    margin .8em .8em 0 .8em
  .header__tagline
    font-size 3.8em
    margin 0 1.6em
  .header__text--vertical
    font-size 1.8em
    padding 0
  .project__heading
  .section__heading--sub
    font-size 4em
  .section
    border 4.6em solid secondaryColor
    padding 6em 6.8em 3em 6.8em
  .grid--projects
    grid-gap 7em
  .paragraph
    font-size 2.8em
  .paragraph__intro
    font-size 3em
  .data-list__term
    font-size 3em
  .data-list__description
  .list__item
    font-size 2.8em
  .button
    border .3em solid secondaryColor
    font-size 2.8em
  .form
    margin 4em auto 0 auto
  .form__button
  .form__label
    font-size 2.4em
  .form__textarea
    border .5em solid secondaryColor
  input[type="text"]
  input[type="email"]
    border-bottom .5em solid secondaryColor
  .footer__author
    font-size 2.8em
    font-weight 300
  .heart
    width .6em
    height .6em
    margin 0 .6em
    &::before
    &::after
      width .6em
      height .6em
    &::before
      top -5px
      left 0
    &::after
      top 0
      left -5px

// Extra Large Devices
// @media (min-width: 1200px)
