primaryColor = #E2BBE8
secondaryColor = #222222

@font-face
  font-family 'Big John'
  src: url("/assets/fonts/big-john-webfont.woff2") format('woff2'),
       url("/assets/fonts/big-john-webfont.woff") format('woff');
  font-weight normal
  font-style normal

*
  box-sizing border-box
  margin 0
  padding 0
  max-width 100%

html
body
  box-sizing border-box
  font-family 'Montserrat', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-size 62.5%
  height 100%
  margin 0
  overflow auto

.menu
  cursor pointer
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-size 2.4em
  height 1em
  mix-blend-mode difference
  padding-right 2.2em
  position fixed
  right 1.4em
  text-align center
  top 2.6em
  &:before
  &:after
    background primaryColor
    content ''
    height 0.2em
    position absolute
    right 1.25em
    width 1em
  &:before
    top 0em
    transition .5s
  &:after
    bottom 0.2em
    transition .5s
  &.menu--active
    z-index 1000
    mix-blend-mode unset
    &:before
      background secondaryColor
      top 0.4em
      transform rotate(45deg)
    &:after
      background secondaryColor
      bottom 0.4em
      transform rotate(-45deg)
  &.menu--active .menu--open
      display none

.menu--open
  color primaryColor
  cursor pointer
  padding-right 0.333em
  user-select none

.menu--close
  display none
  &.menu--active
    color secondaryColor
    cursor pointer
    display block
    padding-right 0.333em
    user-select none

.nav
  display none
.nav--active
  background primaryColor
  border 2.6em solid secondaryColor
  bottom 0
  display block
  height 100vh
  left 0
  padding 5em 3em 0 3em
  position absolute
  overflow-y auto
  overflow-x auto
  right 0
  top 0
  z-index 999

.header
  background secondaryColor
  border 2.6em solid primaryColor
  color primaryColor
  display grid
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
  grid-gap 1em
  grid-template-columns auto 1fr
  grid-template-rows 2fr 2fr 1fr
  height 100vh
  padding 6em 3em 0 3em
  width 100vw

.header__heading
  align-self center
  font-size 5em
  justify-self start
  margin .4em
  grid-column 1 / -1

.header__tagline
  align-self start
  font-size 2.4em
  grid-column 1 / 2
  grid-row 3 / 4
  margin .6em
  justify-self center

.header__text--vertical
  align-self start
  cursor default
  font-size 1.4em
  grid-column 2 / 3
  grid-row 3 / 4
  justify-self center
  padding 1.2em
  word-spacing 1em
  writing-mode vertical-rl

.section
  background primaryColor
  border 2.6em solid secondaryColor
  color secondaryColor
  width 100vw
  min-height 100vh
  padding 5em 3em 0 3em

// .footer
//   background secondaryColor
//   border 3em solid primaryColor
//   color primaryColor
//   display grid
//   grid-template-row 1fr 1fr 1fr
//   width 100vw
//   min-height 100vh
//   padding 5em 3em 0 3em

.nav__heading
    margin-top 1.8em
  .nav__items
    margin-top 1.8em
  .nav__items > a
    color secondaryColor
    font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
    font-size 1.75em
    padding-bottom 1em

.nav__items > a
li > a
  display block
  text-decoration none

li > a
  color secondaryColor

.hidden
  display none

.grid--image
  display grid
  grid-gap 10px
  grid-template-columns repeat(auto-fit, minmax(180px, 1fr))
  padding 3em

.grid__heading
  grid-column 1 / -1

.paragraph
  font-size 1.4em
  line-height 1.25em
  padding-bottom 0.4em

.list
  list-style square inside
  margin-left 1em
  padding 1em 0

.list--type-none
    list-style none
    margin 0
    padding 0

.data-list__description
.list__item
  font-family 'Montserrat', Helvetica, 'Helvetica Neue', Arial, sans-serif
  line-height 1.25em
  font-weight 300
  font-size 1.4em
  &--large
    font-size 1.6em

.data-list__term
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-size 1.6em
  padding-top 1em

.data-list
  margin 2em 0
  .data-list__term:first-child
    padding-top 0.4em

.nav__heading
.section__heading
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-size 3em
  margin 0.5em 0
  padding 0.5em 0
  position relative
  &:before
    content ''
    border-bottom 0.2em solid secondaryColor
    position absolute
    left 0
    bottom 0
    height 1px
    width 10%

.section__heading--sub
  font-size 2em
  margin 1em 0 0.5em 0
  padding 0.5em 0
  &:before
    content ''
    border-bottom 0.2em solid secondaryColor
    position absolute
    left 0
    bottom 0
    height 1px
    width 10%

.paragraph__intro
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-size 1.2em
  line-height 1.25em
  margin 1em 0
  padding 0

// .image-grid
//   display flex
//   flex-direction column
//   justify-content space-between
//   margin-top 1.563em

img
  // max-width 100%
  // height auto
  border 0.25em solid secondaryColor
  margin 0.25em 0

.project-link
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
  color secondaryColor
  text-decoration none
  &:hover
    background secondaryColor
    color primaryColor
// button
.button
  display block
  background primaryColor
  border 0.25em solid secondaryColor
  width 12em
  height 2.5em
  margin 2.5em auto 0 auto
  padding-top 1em
  padding-bottom 2em
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-size 1.15em
  color secondaryColor
  text-align center
  text-decoration none
  &:hover
    background secondaryColor
    color primaryColor

.contact-container
  padding-bottom 0
  min-height 95vh

form
  position relative
  margin 2em auto 0 auto
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif

input[type="text"]
input[type="email"]
  background transparent
  border none
  border-bottom 0.35em solid secondaryColor
  min-width 100%
  margin-bottom 26px
  padding-bottom 4px
  outline none
  border-radius 0
  appearance none
  font-family 'Montserrat', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-weight 300
  font-size 1em

input::placeholder
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-size 1em
  color secondaryColor

input:-webkit-autofill
  -webkit-box-shadow 0 0 0 30px primaryColor inset
  -webkit-text-fill-color secondaryColor !important

textarea
  background primaryColor
  border 0.25em solid secondaryColor
  min-width 100%
  height 10em
  font-family 'Montserrat', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-weight 300
  font-size 1em
  border-radius 0
  appearance none
  &:focus
    outline none

button[type="submit"]
  position absolute
  bottom -3.25em
  right 0
  background primaryColor
  border 0.2em solid secondaryColor
  width 6em
  height 2em
  padding-top 0.75em
  padding-bottom 1.75em
  font-family 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif
  font-size 1.15em
  cursor pointer
  margin 0 auto
  border-radius 0
  appearance none
  &:hover
    background secondaryColor
    color primaryColor
  &:focus
    outline none

.author-container
  margin 1.563em auto 0.5em auto
  text-align center

.heart
  display inline-block
  position relative
  background primaryColor
  top 0
  width 1em
  height 1em
  transform rotate(45deg)
  margin 0 1em
  animation heartbeat 1.2s ease infinite
  &::before
  &::after
    content ''
    background primaryColor
    width 1em
    height 1em
    position absolute
    border-radius 50%
  &::before
    top -5px
    left 0
  &::after
    top 0
    left -5px

@keyframes heartbeat
  0%
    transform rotate(45deg) scale(1)
  50%
    transform rotate(45deg) scale(1.2)
  100%
    transform rotate(45deg) scale(1)

// MEDIA QUERIES
// Small Devices
// @media (min-width: 375px)
//   header
//     padding-left 2.3em
//     padding-right 2.3em
//   .heading-container
//     h1
//       font-size 2.375em
//     p:nth-child(2)
//       font-size 2.375em
//       padding-top 1.25em
//       padding-bottom 1.75em
//     p:nth-child(3)
//       font-size 1.15em
//       padding-top 2.75em
//     .scroll-indicator .vertical-text
//       right -1em

// Medium Devices
// @media (min-width: 768px)
//   header
//     border 1.563em solid primaryColor
//     padding-top 3.75em
//     padding-left 4.250em
//     padding-right 4.250em
//   .heading-container h1
//     margin-top 1.563em
//     font-size 4em
//   .heading-container p:nth-child(2)
//     font-size 4em
//     padding-top 1em
//     padding-bottom 0
//   .heading-container p:nth-child(3)
//     font-size 2.5em
//     padding-top 0
//     margin-top 2.5em
//   .menu
//     top 2.75em
//     right 1.25em
//     height 1em
//     padding-right 3.25em
//     font-size 1.75em
//   .menu::before
//   .menu::after
//     width 1.25em
//     height .3em
//     right 1.25em
//   .menu.menu--active::before
//     top .35em
//   .menu.menu--active::after
//     bottom .35em
//   .open
//   .close
//     right 3em
//   .vertical-text
//     right -1.15em
//     bottom -2.25em
//     font-size 1.25em
//   .fa-long-arrow-down
//     right -0.5em
//     bottom -2.15em
//   main
//     border 1.563em solid secondaryColor
//   .main-container > section
//     border-bottom 1.563em solid secondaryColor
//     padding-top 3.75em
//     padding-left 4.250em
//     padding-right 4.250em
//   h2
//     font-size 4em
//   .main-container p
//   li
//   dt
//   dd
//     font-size 1.5em
//   .image-grid
//     display flex
//     flex-direction row
//     flex-wrap wrap
//     justify-content space-between
//     margin-top 1.563em
//   .image-grid > img
//     max-width 49%
//     border 0.5em solid secondaryColor
//   img:nth-child(odd)
//     margin-right 0.25em

// Large Devices
// @media (min-width: 1024px)
//   header
//     border 2.188em solid primaryColor
//     padding 7.25em 8.375em
//   .heading-container
//     h1
//     p:nth-child(2)
//       font-size 4.5em
//       padding-top 1.042em
//     p:nth-child(3)
//       font-size 3em
//       margin-top 3.25em
//   .vertical-text
//     right -2em
//     bottom -2.25em
//     font-size 1.5em
//   .fa-long-arrow-down
//     right -1em
//     bottom -2.5em
//   .menu
//     top 3.125em
//     right 1.5em
//     height 1em
//     padding-right 3em
//     font-size 2.25em
//   h2
//     font-size 4.250em
//     &::before
//       border-bottom 0.2em solid secondaryColor
//   h3
//     font-size 3.875em
//     &::before
//       border-bottom 0.2em solid secondaryColor
//   main
//     border 2.188em solid secondaryColor
//   .main-container > section
//     border-bottom 2.188em solid secondaryColor
//     padding 7.25em 8.375em
//   .main-container p
//   li
//   dt
//   dd
//     font-size 2em
//     line-height 125%
//   dl dt:first-child
//   dt
//     padding-top 1.5em
//   dl dd:last-child
//     padding-bottom 1.5em
//   .button
//     font-size 2.5em

// Extra Large Devices
// @media (min-width: 1200px)
//   header
//   footer
//     border 2em solid primaryColor
//   header
//     padding 0.5em 12em 1.5em
//   footer
//     padding 6em 12em 2em 12em
//   .heading-container
//     h1
//       font-size 4em
//       margin-top 1em
//       padding-top 0.25em
//     p:nth-child(2)
//       font-size 4em
//       padding-top 0.25em
//     p:nth-child(3)
//       font-size 3em
//       margin-top 1.5em
//   .menu
//     top 2em
//     right 1em
//     font-size 1.75em
//   .nav.nav--active
//     border 2em solid secondaryColor
//     padding 6em 12em 3em 12em
//     overflow-y auto
//     h2
//       margin-top 0
//     .nav__items
//       margin-top 0
//     .nav__items > a
//       font-size 2em
//       padding-bottom 1em
//   .scroll-indicator .vertical-text
//     right 7em
//     bottom -2.5em
//   main
//     border 2em solid secondaryColor
//   .main-container > section
//     border-bottom 2em solid secondaryColor
//     padding 6em 12em 3em 12em
//   .contact-container
//     min-height 92vh
//   h2
//     font-size 3.75em
//   h3
//     font-size 2em
//     margin 0.5em auto 0.5em auto
//     &::before
//       width 5%
//   .main-container p
//   li
//   dt
//   dd
//     font-size 1.25em
//     line-height 135%
//   .main-container p.intro-paragraph
//     font-size 1.5em
//   img
//     max-width 100%
//     border 0.75em solid secondaryColor
//     margin-bottom 1em
//   .button
//     font-size 1.25em
//     margin 2em auto
//   dl dt:first-child
//     padding-top 0
//   dt
//     padding-top 1em
//   input::placeholder
//     font-size 1.25em
//   label[for="message"]
//     font-size 1.25em
//   textarea
//     margin-top 0.25em
//   footer p
//     margin 0 auto
